html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
/*home*/
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
}

.home {
  width: 100%;
}
.header {
  background-color: #4CAF50;
  color: white;
  text-align: left;
  align-content: center;
  justify-content: center;
  padding-left: 10% !important;
}

.header h1 {
  padding: 15px;
  margin: 0;
  font-size: 24px;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border: 2px solid #4CAF50;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 0;
  margin-top: 80px;
}

.button-group {
  display: flex;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
  
}

.button-group button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px 5px 0 0; 
  transition: background-color 0.3s ease;
  position: relative;
  top: -60px; 
  height: 40px;
}

.button-group button:hover {
  background-color: #45a049;
}

.button-group button.active {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  border-bottom: none;
  z-index: 2;
}


.main-content {
  margin-top: -30px;
}


/*Series deportivas*/



.seriesDeportivas {
  width: 100%;
}

.seriesDeportivas .container {
  

  
}

.juegaLocal {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 15px;
  margin: 20px 0;
  border: 2px solid #45a049;
  color: #45a049;
}

.juegaVisita{
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 20px 0;
  border: 2px solid #ff0000;
  color: #ff0000;
  }

  .distribucionPartidos {
    flex-direction: row !important;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    box-sizing: border-box;
  }
  
/*Mochila*/
.mochila {
  width: 100%;
}

.table input {
  width: auto;
  padding: 10px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}


/*Arboles binarios*/
.button-group-bst, .button-group-mo, .button-group-avl, .button-group-sd {
  display: flex;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
  padding: 10px;
  
}

.matrices-bst {
  width: 100%;
  border: 1px solid green;
  
}


.tree-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 500px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.node__root > circle {
  fill: #45a049;
  stroke: white;
  stroke-width: 3px;
}

.node__branch > circle {
  fill: white;
  stroke: #45a049;
}

.node__leaf > circle {
  fill: green;
}

.rd3t-link {
  fill: none;
  stroke: #45a049;
  stroke-width: 2px;
}

/*rutas mas cortas*/

.tablaRutas-container {
  width: 100%;
  overflow-x: auto;  
  border: 1px solid red;
}



.tablaD0 input[type="text"], input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}



.tablas-resultados {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tablasD, .tablasP{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.nodo-ruta {
  border: 2px solid #45a049;
  color: #45a049;
  border-radius: 5px;
  padding: 15px;
}

.flecha {
  color: #45a049;
  font-size: 20px;
}

.ruta-mas-corta {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
/**************************/
.form-group {
  display: flex;
  flex: 1;
  padding:10px;
  flex-direction: column;

}

.mock-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 0 !important;
  box-sizing: border-box;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.form-group select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

option {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  
  
}

.celdaVerde {
  background-color: #4CAF50;
  color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.celdaRoja {
  background-color: #ff0000;
  color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.celdaIndice {
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.delete-button {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  transition: color 0.3s ease;
}

.delete-button:hover {
  color: darkred;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.col {
  flex: 1;
  margin: 10px;
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-weight: bold;
}

.primary-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.table-container {
  overflow-x: auto; 
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 5px;
  justify-content: center;
  box-sizing: border-box;
}
.table th, .table td {
  border: 1px solid #e7e7e7;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  text-align: center;
}

.descripcion-problema {
  margin-top: 20px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #45a04981
}

.input-table {
  width: 100% !important;
  border: none !important;
  text-align: center !important;
}



